.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1e1e1e;
    color: #fff;
  }
  
  .register-form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
  }
  
  .register-form button {
    padding: 15px 20px;
    font-size: 1.2em;
    background-color: #f0b400;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #c99000;
  }
  